:root {
    --black: #1f1f1f;
    --white: #e6e6e6;
    --light-gray: #b1b1b1;
    --dark-gray: #2d2d2d;
    --dark-gray-lighter: #363636;
    --medium-gray: #424242;
    --yellow: #f2ee81;
}

html,
body {
    background: var(--black);
    overscroll-behavior-x: none;
}

.nav {
    --h-padding: 12rem;
    align-items: center;
    display: flex;
    background: var(--black);
    border-bottom: 1px solid var(--dark-gray);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 var(--h-padding);
    width: calc(100vw - (var(--h-padding) * 2));
    height: 4rem;
    z-index: 991;
}

.nav__brand {
    margin-left: .75rem;
    align-items: center;
    display: flex;
}

.nav__brand__image {
    height: 1.375rem;
    width: 1.375rem;
}

.nav__brand__title {
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 0 1rem;
}

.nav__links {
    align-items: center;
    display: flex;
    margin: 0 0 0 1.5rem;
}

.nav__link,
.nav__link__active {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1.125rem 0 0;
}

.nav__link {
    color: var(--light-gray);
    transition: .125s ease-in-out;
}

.nav__link:hover {
    color: var(--white);
}

.nav__link__active {
    color: var(--white);
}

.nav__grow {
    flex: 1;
}

.nav__utils {
    align-items: center;
    display: flex;
}

.nav__search__button {
    display: flex;
    align-items: center;
    background: var(--dark-gray);
    border: none;
    border-radius: .25rem;
    height: 2rem;
    padding: .1rem .75rem .25rem .75rem;
    cursor: pointer;
    transition: .125s ease-in-out;
}

.nav__search__button:hover {
    background: var(--dark-gray-lighter);
}

.nav__search__text {
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    height: fit-content;
}

.nav__search__button > svg {
    fill: var(--white);
    height: .75rem;
    width: .75rem;
    margin: 0 .5rem 0 0;
}

.main {
    --h-padding: 12rem;
    width: calc(100vw - (var(--h-padding) * 2));
    margin: 4rem var(--h-padding);
}

.menu {
    position: fixed;
    height: calc(100vh - 4rem);
    width: 12rem;
    z-index: 990;
}

.menu__header {
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    height: 2.5rem;
    width: 12rem;
    padding: 1rem 0 0 0;
}

.menu__button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: .25rem;
    border: none;
    color: var(--light-gray);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 1.75rem;
    width: 12rem;
    text-decoration: none;
    transition: .125s ease-in-out;
    margin: .125rem 0;
}

.menu__button:hover {
    background-color: var(--dark-gray);
}

.content {
    margin: 0 0 0 12rem;
    padding: 4rem 8rem;
}

.content__h1 {
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
}

.content__p {
    color: var(--light-gray);
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}

.content__code {
    background-color: var(--dark-gray);
    border-radius: .25rem;
    color: var(--light-gray);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
}